@font-face {
    font-family: 'tomkin-medium';
    src: url('fonts/tomkin-medium.woff2');
}
@font-face {
    font-family: 'tomkin-regular';
    src:url('fonts/tomkin-regular.woff2');
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}
.background-image {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    object-fit: cover;
}
.wrapper {
    padding: 25px;
}
h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-family:tomkin-medium, sans-serif;
}
p {
    color: #fff;
    font-family:tomkin-regular, sans-serif;
}
.zodiac-heist-title {
    font-size: 2rem;
    text-align: center;
}
.zodiac-heist-sub-title {
    text-align: center;
}
.dob-text {
    font-size: 1.25rem;
}
.dob-details {
    font-family:tomkin-regular, sans-serif;
    color: #fff;
    border-radius: 20px;
    font-size: 1.25rem;
}
#submit-button {
    font-family:tomkin-regular, sans-serif;
    text-align: center;
    color: red;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
}
#submit-button:hover {
    color: black;
    font-family:tomkin-medium, sans-serif;
}
/* .rectangle {
    width: 100%;
    background: rgba(196, 196, 196, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
} */

/* .rectangle {
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    mix-blend-mode: soft-light;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
} */

.rectangle {
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3px);
    border-radius: 35px;
}
.zodiac-box-img {
    width: 100%;
}
#main-container {
    display: flex;
    flex-wrap: wrap;
}
.zodiac-box {
    max-width: 180px;
    margin: 25px;
}